Repository comworkio/storage-bridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_x86, build_arm

build_x86:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "x86" "storage-bridge" "0.1"
  tags:
  - imagesbuilder

build_arm:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "storage-bridge" "0.1"
  tags:
  - buildarm

Fix: image name
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
  docker-compose-local.yml
Due: build_x86, build_arm

Improve documentation
  README.md
Due: none

Add dockerfile for ARM
  Dockerfile.arm
Due: build_arm

Add minio utils
  .env.dist
  utils/minio.py
Due: build_x86, build_arm

List files from the bucket
  .env.dist
  utils/bridge.py
  utils/minio.py
Due: build_x86, build_arm

Remove useless redis
  docker-compose-local.yml
Due: none

Re-use the same environment variables
  utils/minio.py
Due: build_x86, build_arm

Missing bucket region
  .env.dist
  utils/minio.py
Due: build_x86, build_arm

Missing environment variables
  .env.dist
  ci/compute-env.sh
  utils/bridge.py
Due: build_x86, build_arm

Fix: bucket connection
  .env.dist
  utils/bridge.py
  utils/minio.py
Due: build_x86, build_arm

Missing environment variables
  .env.dist
Due: none

Print filename
  utils/bridge.py
Due: build_x86, build_arm

Remove useless import
  utils/bridge.py
Due: build_x86, build_arm

Add drive connection
  .env.dist
  Dockerfile
  Dockerfile.arm
  docker-compose-local.yml
  requirements.txt
  utils/bridge.py
  utils/drive.py
  utils/minio.py
Due: build_x86, build_arm

Add warning
  README.md
Due: none

Use an API key instead
  .env.dist
  utils/drive.py
Due: build_x86, build_arm

Improve README
  README.md
Due: none

Check if the file exists
  .env.dist
  utils/bridge.py
  utils/drive.py
Due: build_x86, build_arm

Create folder if not exists
  utils/bridge.py
  utils/drive.py
Due: build_x86, build_arm

Use a service account instead
  .env.dist
  .gitignore
  README.md
  utils/drive.py
Due: build_x86, build_arm

Upload file
  utils/bridge.py
  utils/drive.py
Due: build_x86, build_arm

Fix upload files
  .env.dist
  utils/bridge.py
  utils/drive.py
Due: build_x86, build_arm

Improve README
  README.md
  img/json_key.png
  img/sa.png
  img/share.png
Due: none

Filename and filepath
  utils/bridge.py
Due: build_x86, build_arm

Add cache and prepare deployment
  .env.dist
  ci/deploy.sh
  docker-compose-intra.yml
  requirements.txt
  utils/bridge.py
  utils/redis.py
Due: build_x86, build_arm

Dynamic bucket folder with date
  .env.dist
  ci/compute-env.sh
  utils/minio.py
Due: build_x86, build_arm

Deliver in prod
  .gitlab-ci.yml
  utils/bridge.py
Due: build_x86, build_arm

Improve README
  img/share.png
Due: none

Fix: tag version
  ci/docker-deliver.sh
Due: build_x86, build_arm

Missing redis variables in deployment
  ci/compute-env.sh
Due: build_x86, build_arm

Update ci/compute-env.sh
  ci/compute-env.sh
Due: build_x86, build_arm

Improve README
  README.md
  img/logo.png
Due: none

Improve README
  img/logo.png
Due: none

remove useless import
  utils/drive.py
Due: build_x86, build_arm

Restart always
  docker-compose-intra.yml
Due: none

Switch to discord
  ci/compute-env.sh
  ci/deploy.sh
  utils/common.py
  utils/logger.py
Due: build_x86, build_arm

Fix: missing variables
  ci/compute-env.sh
  utils/logger.py
Due: build_x86, build_arm

Use variables for webhook templates
  utils/logger.py
Due: build_x86, build_arm

Path conditions:
  build_x86: any of: .gitlab-ci.yml, utils/*, routes/*, api.py, requirements.txt, ci/docker-deliver.sh, ci/deploy.sh, ci/compute-env.sh, docker-compose-build-x86.yml, Dockerfile
  build_arm: any of: .gitlab-ci.yml, utils/*, routes/*, api.py, requirements.txt, ci/docker-deliver.sh, ci/deploy.sh, ci/compute-env.sh, docker-compose-build-arm.yml, Dockerfile.arm
